

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, p{
  font-family: 'Mulish', sans-serif;
}
a{
  font-family: 'Sniglet', cursive;
}
.container{
  display: flex;
  flex-direction: column;
 width: 70%;
 margin-top: 80px;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navbar{
  padding: 20px 0px 20px 0px;
  border-right: 1px solid #c0bfbf ;
  display: block;
  margin: 30px 0;
}

.productSort{
width: 90%;
margin: 0 auto;
}
.sortMenu{
  width: 100% !important;
}
.head{
  position: sticky;
  top: 0px;
  z-index: 50;
}
.payPartner img{
  width: 100%;
  margin-top: 20px;
}
.content{
  margin-top: 20px;
   background-color: rgba(237,238,240, 0.9);
   box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.59);
   border-radius: 3px;
}
.productSort h3, .advertising h3{
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.35);
  border-radius: 3px;
  letter-spacing: 1px;
  font-family: 'Fjalla One', sans-serif;
  background: radial-gradient(circle, rgba(255,0,0,0.21332282913165268) 0%, rgba(0,63,126,0.196516106442577) 100%);
}



#root{
  background: url('./image/bg.jpg') no-repeat center bottom  fixed;
  background-size: cover;
 display: flex;
 justify-content: center;
 min-height: 100%;
 padding-top: 10px;
 width: 100%;
}

.productChange{
 display: flex;
 flex-direction: column;
}
.productChange a{
  padding: 10px 50px;
  color: black;
}
.productChange a:hover{
  background-color: #f2f2f2;
}
.productMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.cart{
display: flex !important;
align-items: center;
justify-content: center;
margin: 0px 20px 0px 20px ;
}
.cartMenu{
  border-left: 1px solid #e8e9e9 ;
}
.fullPrice{
  display: flex;
  flex-direction: column;
  strong{
   text-align: center;
    border-top: 1px solid #e8e9e9;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}
.headMid{
  width: 80%;
 display: flex;
 justify-content: center;
}
.logo {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
 width: 100%;
 background: linear-gradient(0deg, rgba(195,190,190,1) 0%, rgba(240,195,195,0) 100%);
  h2{
    font-size: 18px;
    margin: 0px 0px 0px 5px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 0.5px;
  }
  img{
  width: 40px;
}

}
.sortImg{
  display: none;
  img{
    width: 20px;
  }
}
.sortImg:hover{
  cursor: pointer;
}

.cartItems{
  display: flex !important;
  align-items: center;
  #information{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  #information, #removeCart{
    background: none;
    box-shadow: none;
  }
}

@media (max-width: 980px){
  .navbar{
    display: none;
  }
  .main{
    justify-content: center;
  }
  .headMid{
    justify-content: space-between;
  }
  .sortImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0px;
    background: coral;
    img{
     margin: 10px;
    }
  }
  .head{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .container{
    width: 100%;
  }
  .productMain{
justify-content: space-evenly;
  }
}
